.main-header {
  padding: 20px 0px;

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 150px;
      height: 30px;
    }
    .loaction-search {
      display: flex;
      padding: 10px;
      box-shadow: 0px 2px 3px rgba(black, 0.2);
      border-radius: 5px;
      .top-div {
        border: none;
        border-radius: 0px;
        outline: none;
      }
      .search {
        border-left: 1px solid black;
        width: 400px;
      }
      .location {
        width: 300px;
      }
    }
  }
}

.login-signup {
  display: flex;
  justify-content: space-evenly;
  h6 {
    margin-right: 20px;
  }
}

input:focus,
input:active {
  outline: none !important;
  box-shadow: none !important;
}
